.Text-Typed {
    top: 60px;
    border-radius: 12px;
    overflow: hidden;
    font-size: 20px;
    transition: transform 0.25s ease, 0.25s ease;
    max-width: 50%;
    max-height: 60%;
    margin: auto;
  }